.flex-wrap {
    /* 預設是block元素 */
    display: flex;
    /* 預設是inline元素 */
    display: inline-flex;
    gap: 20px;
}

.item {
    padding: 10px;
    border: 1px solid #000;
}

/* 預設，左到右 */
.row {
    flex-direction: row;
}

/* 反向，右到左 */
.row-reverse {
    flex-direction: row-reverse;
}

/* 垂直，上到下 */
.column {
    flex-direction: column;
}

/* 反向垂直，下到上 */
.column-reverse {
    flex-direction: column-reverse;
}
.flex-wrap-2 {
    display: flex;
    gap: 10px;
}

/* 水平置左 */
.justify-start {
    justify-content: flex-start;
}

/* 水平置中 */
.justify-center {
    justify-content: center;
}

/* 水平置右 */
.justify-end {
    justify-content: flex-end;
}

/* 水平貼齊起點與終點後，平均分布*/
/* 可以再用padding調整左右距離 */
/* 此時gap已無效，因為間距已平均分布 */
.justify-between {
    justify-content: space-between;
    padding: 0 15px;
}

.flex-wrap-3 {
    display: flex;
    gap: 10px;
    width: 100%;
    height: 80px;
    border: 1px solid #000;
    background-color: #eee;
}

.align-start {
    align-items: flex-start;
}

.align-center {
    align-items: center;
}

.align-end {
    align-items: flex-end;
}

.flex-wrap-4 {
    display: flex;
    align-items: center;
    gap: 20px;
}

.flex-wrap-4.nowrap {
    flex-wrap: nowrap;
}

.flex-wrap-4.wrap {
    flex-wrap: wrap;
}
