html,
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.banner {
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: #000;
    background-image: url(../images/banner.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.banner::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.title {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.title svg path {
    fill: transparent;
    stroke: #fff;
    stroke-width: 0.1px;
    stroke-dasharray: 50;
    stroke-dashoffset: 50;
    animation: textAnimation 4s ease-in-out;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}

@keyframes textAnimation {
    0% {
        stroke-dashoffset: 50;
    }

    80% {
        fill: transparent;
    }

    100% {
        fill: #fff;
        stroke-dashoffset: 0;
    }
}
